/* ----------- homePage -------------- */
/* .poster img {
        filter:blur(2px)
    } */

.homePoster {
    width: 100%;
    margin-bottom: 100px;
}

.homePoster img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* filter: blur(2px); */
}

.homePage {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.homeCategory {
    padding: 5rem 3rem;
    font-size: 2.2rem;
    font-weight: 900;
}

.homeListCategory {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    /* flex-wrap: wrap; */
    margin-bottom: 3rem;
    font-weight: 900;
    font-size: 1.2rem;
}

.homeListCategory h4 {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.homeBanner {
    display: flex;
    flex-direction: row;
    /* gap: 0; */
}

.homeBannerDescribe {
    color: white;
    background-color: #000;
    min-height: 100%;
    padding: 8rem 6rem;
    flex: 40%;

    /* : center; */
}

.homeBannerDescribe p:first-child {
    font-size: 3.4rem;
    font-weight: 900;
}

.homeBannerDescribe p:nth-child(2) {
    font-size: 1.5rem;
    /* font-weight: 900; */
}

.homeBanner img {
    display: flex;
    flex: 60%;
}

.homeBannerBtn {
    margin-top: 2rem;
    width: 170px;
    height: 42px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    font-weight: 700;
    font-size: 1rem;
}

.homeNewestProduct,
.homeRate {
    padding: 3rem 3rem;
    font-weight: 900;
    font-size: 2.2rem;
}

.homeNewestProductImg,
.homeRateImg {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
}

.homeMen,
.homeWomen,
.homeKids {
    padding: 3rem 3rem;
    font-size: 2.2rem;
    font-weight: 900;
}

.homeMenList,
.homeWomenList,
.homeKidsList {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}

.homeMenList h4,
.homeWomenList h4,
.homeKidsList h4 {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.homeMenBtn,
.homeWomenBtn,
.homeKidsBtn {
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    border: 0px;
    line-height: 3.5;
    justify-items: center;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 auto;
    /* display: flex; */
    /* justify-items: center; */
    display: block;

}
/* 

/* ------------General------------ */
.hide {
    display: none;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.bold {
    font-weight: 600;
}

.mt2 {
    margin-top: 3rem;
}

button {
    cursor: pointer;
}

.homeNewestProductImg img {
    height: 400px;
}

.homeBannerDescribe-img-container {
    margin: 20px 0;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.homeListItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeListImg {
    width: 360px;
    height: 360px;
    overflow: hidden;
}

.homeListImg img {
    width: 100%;
    object-fit: contain;
    object-position: auto;
}

.ListImgContainer{
    overflow: hidden;
}

.ListImgContainer img{
    transition: all 0.4s ease;
}
.ListImgContainer img:hover{
    transform: scale(1.2);
}


/* Scrollbar CSS */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

