/* Set up custom fonts */
@font-face {
    font-family: 'my_public_sans';
    src: url('../../assets/fonts/PublicSans-Regular.ttf');
}


/* Header */
.show-product-list-header {
    background-color: black;
    color: white;
    padding-left: 5em;
    /* padding-right: 0.75em; */

}

.show-product-list-header div {
    /* width: 1200px; */
    max-width: 1250px;
    margin: auto;
}

/* Header content container */
.show-product-list-header div {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 40%;
}

/* Header content */
.show-product-list-header div * {
    line-height: 1.5em;
}

/* Header title */
.show-product-list-header div h1 {
    font-size: 2em;
}

/* Main content*/
.show-product-list-content {
    display: flex;
    padding-top: 2.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 1200px;
    max-width: 1250px;
    margin: auto;
}

/* Seperate 2 parts into 2 columns */
.show-product-list-filter,
article {
    display: inline-block;
}

.show-product-list-filter {
    flex: 1;
    padding-left: 2.5rem
}

article {
    flex: 4;
}

/* Filter title */
.show-product-list-filter>label:first-child {
    font-weight: bold;
    font-size: 1.25em;
}

/* Clear filter button */
#show-product-list-clear-filter {
    border: none;
    background-color: inherit;
    text-decoration: underline;
    color: #C4C4C4;
    cursor: pointer;
    transition: color 0.25s;
}

#show-product-list-clear-filter:hover {
    color: red;
}

/* Filter option title */
.show-product-list-filter-option>label:first-child {
    font-weight: bold;
    line-height: 3em;
}

/* Filter option choice */
.show-product-list-filter-option div {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.show-product-list-filter-option input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

/* Sort products */
.show-product-list-sort {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}

/* Sort products title */
.show-product-list-sort label {
    padding-right: 0.25em;
    font-weight: bold;
}

/* Sort products combo box */
.show-product-list-sort select {
    /* font-family: 'my_public_sans'; */
    padding: 8px 14px;
    outline: none;
    border: solid 2px black;
    margin-left: 10px;
}

/* Product list container */
#show-product-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

/* Product container */
.show-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

/* Product image */
div.product-img {
    align-content: center;
    background-color: #F6F6F6;
}

/* Product info */
.product-name,
.product-price {
    text-align: center;
}

.product-name {
    font-weight: bold;
}

.hidden {
    display: none;
}

/* "Show more" button */
.show-product-list-more {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.show-product-list-more button {
    line-height: 2.5em;
    font-weight: bold;
    font-size: 14px;
    background-color: inherit;
    padding: 0.3em 2em;
    cursor: pointer;
    border: solid 3px black;
    transition: all 0.5s ease;
}
.show-product-list-more button:hover{
    background-color: black;
    color: aliceblue;
}

.show-product .product-name,
.show-product .product-price {
    text-align: left;
    width: 100%;
    padding-left: 2rem;
    line-height: 1.25rem;
}

/* Product items style  */
.show-product:hover {
    cursor: pointer;
    border-radius: 10px;
    opacity: 1;
}

.show-product {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    opacity: 0.9;
}

.product-img {
    overflow: hidden;
    width: 77%;
}

.show-product img {
    width: 100%;
    margin-bottom: 10px;
    height: 15rem;
    transition: all 0.2s ease;
}


.show-product:hover img {
    transform: scale(1.1);
}

.apply-filter-btn {
    padding: 5px 10px;
    cursor: pointer;
}

.filter-values{
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}
.filter-values:hover label{
    font-weight: bold;
    cursor: pointer;
}

.apply-filter-btn:hover{
    background-color: black;
    color: aliceblue;
}
.apply-filter-btn{
    outline: none;
    border: solid 2px black;
    background-color: white;
    padding: 0.5em 1em;
    transition: all 0.5s ease;
}